---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
// the children/slot works a little differently when coming from Content folder
const { Content } = await render(post);
---

<style>
  h1 {
    margin-bottom: 1rem;
  }
  .tags {
    margin-bottom: 32px;
  }
  .tags span {
    background-color: var(--primary-0);
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    & a {
      color: var(--text-light);
      text-decoration: none;
    }
  }
  /* for some reason '& hover' doesn't work properly in the above selector */
  .tags span:hover {
    background-color: var(--secondary-2-0);
  }
</style>

<BaseLayout pageTitle={post.data.pageTitle}>
  <article>
    <h1>{post.data.pageTitle}</h1>
    <p class="tags">
      Date: {post.data.date} | Tagged with: {
        post.data.tags.map((tag) => (
          <span>
            <a href={`/tags/${tag}`}>{tag} </a>
          </span>
        ))
      }
    </p>
    <Content />
  </article>
</BaseLayout>
