---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
const allWork = await getCollection("work");
const pageTitle = "Work Archive";
---

<style>
    li {
        margin: 1rem 0;
    }
</style>

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>

  <ul>
    {
      allWork.map((item) => (
        <li>
          <a href={`/work/${item.slug}/`}>{item.data.pageTitle}</a>
          <br />
          {item.data.abstract}
        </li>
      ))
    }
  </ul>
</BaseLayout>
