---
import { getCollection } from "astro:content";
import FeaturedItem from "./FeaturedItem.astro";

const featuredWork = await getCollection('work', ({data}) => {
  return data.featured === true;
});
---


<div>
  <h2 id="work">Featured Work</h2>
  {featuredWork.map((item, index) => (
    <FeaturedItem index={index} title={item.data.title} abstract={item.data.abstract} image={item.data.image} />
  ))}
</div>


